html,
body {
  	height: 100%;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #f0f0f0;
}

.navbar .navbar-brand {
	padding-top: 3px;
}

.carousel-caption {
	bottom: -30px;
	left: 0;
	right: 0;
	color: black;
	text-shadow: none;
	font-size: 12px;
}

.page-section {
	margin: 20px 0 20px;
}

.page-header {
	padding-bottom: 9px;
	margin: 20px 0 20px;
	border-bottom: 1px solid #ccc;
}

.footer {
	padding: 20px 0px 20px 0px;
	background-color: #ebebeb; /* layer fill content */
	-moz-box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
	box-shadow: inset 0 1px 0 rgba(210,208,208,.57); /* inner shadow */
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%); /* gradient overlay */
}

/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}